// google fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');

// variables
$header-height: 3rem;
$nav-width: 324px;

// font weight
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;

// colors
// $first-color: rgb(42, 47, 47);
$first-color: #26A69A;
$first-color-dark: #00897B;
$first-color-darken: #00796B;
$text-color: #54424d;
$first-color-light: #B2DFDB;
$first-color-lighten: #fffafa;

// font and topography
$body-font: 'Poppins' monospace;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
$normal-font-size: .938rem;
$small-font-size: .813rem;
$smaller-font-size: .75rem;

// margenes
$mb-1: .5rem;
$mb-2: 1rem;
$mb-3: 1.5rem;
$mb-4: 2rem;
$mb-5: 2.5rem;

// z-index
$z-fixed: 100;

@media screen and (min-width: 768px) {
	$h1-font-size: 2.25rem;
	$h2-font-size: 1.55rem;
	$h3-font-size: 1.25rem;
	$normal-font-size: 1rem;
	$small-font-size: .875rem;
	$smaller-font-size: .813rem;
}

// base
*,::before,::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: $header-height 0px 0px 0px;
	font-family: $body-font;
	font-size: $normal-font-size;
	font-weight: $font-medium;
	background-color: $first-color-lighten;
	color: $text-color;
	line-height: 1.6;
}

h1,h2,h3, p {
	margin: 0;
}

h3 {
	font-weight: $font-semi-bold;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a {
	text-decoration: none;
	color: $text-color;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

// class css
.section {
	padding: 4rem 0 2rem;
}

.section__title {
	font-size: $h1-font-size;
	color: $first-color;
	margin-bottom: $mb-3;
	text-align: center;
}

.section__subtitle {
	display: block;
	font-size: $small-font-size;
	color: $first-color-darken;
	text-align: center;
	font-weight: $font-bold;
	margin-bottom: .25rem;
}

.bd-grid {
	max-width: 1024px;
	display: grid;
	grid-template-columns: 100%;
	column-gap: 2rem;
	width: calc(100% - 2rem);
	margin-left: $mb-2;
	margin-right: $mb-2;
}

.l-header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: $z-fixed;
	background-color: $first-color-lighten;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.nav {
	height: $header-height;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav__menu {
	position: fixed;
	top: 0;
	left: -100%;
	width: 90%;
	height: 100vh;
	padding: 3rem;
	display: flex;align-items: center;
	background-color: $first-color;
	transition: .5s;
}

.nav__close {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 2rem;
	color: $first-color-darken;
	cursor: pointer;
}

.nav__item {
	margin-bottom: $mb-4;
}

.nav__link {
	font-size: 1rem;
	text-transform: uppercase;
	color: $first-color-lighten;
	font-weight: $font-bold;
	transition: .3s;
}

.nav__link:hover {
	color: $first-color-darken;
}

.nav__toggle {
	color: $first-color-darken;
	font-size: 1.3rem;
	cursor: pointer;
}

.show {
	left: 0;
}

.active {
	color: $text-color;
}

// home 
.home__container {
	height: calc(100vh - 3rem);
}

.home__data {
	display: flex;
	flex-direction: column;
	align-items: center;
	// justify-content: center;
	height: max-content;
	text-align: center;
}

.home__img {
	margin-top: 5rem;
	padding-top: 1.3rem;
	padding-left: .8rem;
	width: 160px;
	height: 160px;
	background-color: $first-color;
	border-radius: 50%;
	overflow: hidden;
	margin-bottom: $mb-2;

	img {
		width: 155px;
	}
}

.home__title {
	font-size: $h1-font-size;
	color: $first-color;
	font-weight: $font-semi-bold;
}
.home__profession {
	font-size: $normal-font-size;
	color: $first-color-dark;
	margin-bottom: $mb-5;
}
.home__socials {
	margin-bottom: 5rem;
}
.home__social-link {
	display: inline-flex;
	background-color: $first-color;
	color: $first-color-lighten;
	font-size: 1.1rem;
	border-radius: 50%;
	padding: 0.4rem;
	margin: 0 $mb-1;
	transition: .3s;

	&:hover {
		background-color: $first-color-darken;
	}
}

.home__button {
	width: 90%;
}

// buttons
.button {
	display: inline-block;
	background-color: $first-color;
	color: $first-color-lighten;
	padding: 1rem 2rem;
	font-weight: $font-semi-bold;
	border-radius: .5rem;
	transition: .3s;

	&:hover {
		background-color: $first-color-dark;
	}
}

.button__light {
	background-color: $first-color-lighten;
	color: $first-color;

	&:hover {
		color: $first-color-light;
		background-color: $first-color-dark;
	}
}

// ABOUT
.about,
.services,
.works {
	background: #F5F5F5;
}
.about__container {
	row-gap: 2rem;
}

.about__data {
	text-align: center;
}

.about__description {
	margin-bottom: $mb-4;
}

.about__img {
	width: 150px;
	border-radius: .5rem;
	margin: 0 auto;
}

.about__information {
	margin-bottom: $mb-4;
}

.about__information-title {
	font-size: $h3-font-size;
	color: $first-color-dark;
	margin-bottom: $mb-2;
}

.about__information-data {
	display: flex;
	align-items: center;
	padding-left: 1.5rem;
	margin-bottom: $mb-3;
}

.about__information-icon {
	font-size: 1.5rem;
	color: $first-color;
	margin-right: $mb-4;
}

.about__information-subtitle {
	font-weight: $font-semi-bold;
	display: block;
}

.about__information-subtitle-small {
	font-size: $small-font-size;
}

// SKILLS
.skills__container {
	row-gap: 2rem;
}

.skills__subtitle {
	font-size: $h3-font-size;
	color: $first-color-dark;
	margin-bottom: $mb-2;
}

.skills__data {
	position: relative;
	display: flex;
	justify-content: space-between;
	margin: 0 $mb-2;
	margin-bottom: $mb-4;
}

.skills__name {
	text-transform: uppercase;
}

.skills__bar {
	position: absolute;
	bottom: -.75rem;
	height: .25rem;
	background-color: $first-color;
}

.skills__html {
	width: 80%;
}

.skills__js {
	width: 60%;
}

.skills__vue {
	width: 70%;
}

.skills__vueBootstrap {
	width: 65%;
}

.skills__cli {
	width: 70%;
}

.skills__vuetify {
	width: 65%;
}

.skills__vuex {
	width: 75%;
}

.skills__firebase {
	width: 60%;
}

// EDUCATION
.education__container {
	row-gap: 2rem;
}

.education__content {
	display: grid;
	grid-template-columns: 1fr max-content 1fr;
}

.education__year, .education-race {
	font-size: $h3-font-size;
	margin-bottom: 0.25rem;
}

.education__university, .education__specialty {
	display: block;
	font-size: $smaller-font-size;
}

.education__year, .education__university {
	text-align: right;
}

.education__time {
	padding: 0px 1rem;
	justify-self: center;
}

.education__rounder {
	position: relative;
	display: inline-block;
	width: 12px;
	height: 12px;
	background-color: $first-color;
	border-radius: 50%;

	&:before {
		content: "";
		position: absolute;
		transform: translate(-4px, -4px);
		width: 20px;
		height: 20px;
		border: 1px solid $first-color;
		border-radius: 50%;
	}
}

.education__line {
	display: block;
	height: 90%;
	width: 2px;
	transform: translate(5px, -4px);
	background-color: $first-color;
}

// SERVICES
.services__container {
	row-gap: 2rem;
}

.services__content {
	padding: 1.5rem .5rem;
	border: 2px solid $first-color;
	border-radius: .5rem;
	text-align: center;
}

.services__icon {
	font-size: 2rem;
	padding: .5rem;
	background-color: $first-color;
	color: $first-color-lighten;
	border-radius: 50%;
	margin-bottom: $mb-2;
}

.services__title {
	font-size: 1.25rem;
	color: $first-color-dark;
	margin-bottom: $mb-1;
}
.services__content, .services__icon, .services__title, .services__description {
	transition: .5s;
}

.services__content:hover {
	background-color: $first-color;
}

.services__content:hover .services__icon {
	background-color: $first-color-lighten;
	color: $first-color;
}

.services__content:hover .services__title,
.services__content:hover .services__description {
	color: $first-color-lighten;
}

// Project in mind
.project {
	background-color: $first-color;
	padding-bottom: 0;
}

.project__container {
	row-gap: 2rem;
}

.project__data {
	text-align: center;
}

.project__title, .project__description {
	color: $first-color-lighten;
}

.project__description {
	margin-bottom: $mb-4;
}

.project__img {
	width: 220px;
	justify-self: center;
}

// WORKS
.works__container {
	justify-items: center;
	row-gap: 2rem;
}

.works__img {
	overflow: hidden;
	position: relative;
	border-radius: .5rem;
}

.works__data {
	position: absolute;
	// top: 0;
	bottom: -100%;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background: rgba(0,137,123, .7);
	border-radius: .5rem;
	transition: .5s;
}

.works__link {
	display: inline-block;
	font-size: 1.5rem;
	background-color: $first-color-lighten;
	color: $first-color;
	padding: .25rem;
	border-radius: .25rem;
	margin-bottom: $mb-2;
}

.works__title {
	font-size: $h2-font-size;
	color: $first-color-lighten;
}

.works__img:hover .works__data {
	bottom: 0;
}


// CONTACT
.contact__container {
	row-gap: 3rem;
}

.contact__input {
	width: 100%;
	padding: 1rem;
	outline: none;
	border: none;
	background-color: $first-color-light;
	font-size: $normal-font-size;
	margin-bottom: $mb-2;
	border-radius: .5rem;
}

.contact ::placeholder {
	color: $first-color-dark;
	font-family: $body-font;
	font-weight: $font-medium;
}

.contact__button {
	outline: none;
	border: none;
	font-family: $body-font;
	font-size: $normal-font-size;
	cursor: pointer;
}

.contact__info {
	margin-bottom: $mb-3;
}
.contact__subtitle {
	font-size: $h3-font-size;
	color: $first-color-dark;
	margin-bottom: $mb-1;
}

.contact__text {
	display: block;
	padding-left: 1rem;
}

// Footer
.footer {
	background-color: #BDBDBD;
	color: $first-color-lighten;
	text-align: center;
}

.footer__title {
	font-size: $h1-font-size;
	margin-bottom: $mb-2;
}

.footer__description {
	margin-bottom: $mb-2;
}

.footer__socials {
	margin-bottom: 3rem;
}

.footer__link {
	display: inline-flex;
	background-color: $first-color;
	color: $first-color-lighten;
	font-size: 1.1rem;
	border-radius: 50%;
	padding: .40rem;
	margin: 0 $mb-1;
	transition: .3s;
}

.footer__link:hover {
	background-color: $first-color-lighten;
	color: $first-color;
}

.footer__copy {
	font-size: $smaller-font-size;
	color: $text-color;
}

@media screen and (min-width: 768px) {
	.home__button {
		width: initial;
	}

	.nav__menu {
		width: $nav-width;
	}

	.about__container,
	.skills__container,
	.services__container,
	.works__container,
	.contact__container,
	.contact__input {
		grid-template-columns: repeat(2,1fr);
	}

	.about__data{
		text-align: initial;
	}

	.about__description {
		margin-bottom: $mb-5;
	}

	.about__img {
		width: 220px;
	}

	.about__information {
		padding-left: 4rem;
	}

	.education__time {
		padding: 0 2rem;
	}

	.project {
		background: none;
	}

	.project__container {
		background-color: $first-color;
		grid-template-columns: 2fr 1.2fr;
		padding: 0 2rem;
		border-radius: .5rem;
		// align-items: center;
	}

	.project__data {
		padding: 3rem 0;
	}
	.project__title, .project__data {
		text-align: initial;
	}

	.project__img {
		width: 230px;
		align-self: flex-end;
	}

	.contact__inputs {
		display: grid;
		column-gap: 1.5rem;
	}

	.contact__info {
		padding-left: 3rem;
	}

	.footer {
		background: none;
	}

	.footer__container {
		background-color: #BDBDBD;
		padding: 3rem 0;
		border-radius: .5rem;
	}
}

@media screen and (min-width: 1024px) {
	body {
		margin: 0;
		padding-left: $nav-width;
	}

	.l-header {
		width: 0;
	}

	.nav__toggle, .nav__logo, .nav__close {
		display: none;
	}

	.nav__menu {
		left: 0;
	}

	.home__container {
		height: 100vh;
	}

	.section {
		padding: 3rem 0 2rem;
	}

	.bd-grid {
		margin-left: auto;
		margin-right: auto;
	}

	.services__container,
	.works__container {
		grid-template-columns: repeat(3,1fr);
	}
}